@media screen and (min-width: 992px) {
  .wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 12% 58% 27%;
  }

  .header {
    grid-row: 1;
    grid-column: 1/4;
  }

  .sidebar {
    grid-row: 2;
    grid-column: 1;
  }

  .content {
    grid-row: 2;
    grid-column: 2;
  }

  .aside {
    grid-row: 2;
    grid-column: 3;
  }

  .footer {
    grid-row: 3;
    grid-column: 1/4;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-gap: 1em;
  }

  .header {
    width: 96%;
    grid-row: 1;
  }

  .sidebar {
    width: 96%;
    grid-row: 2;
  }

  .main {
    width: 96%;
    grid-row: 3;
  }

  .aside {
    width: 96%;
    grid-row: 4;
  }
  .footer {
    width: 96%;
    grid-row: 5;
  } 
}

li a:link {
  text-decoration: none;
  color: aqua
}

li a:visited {
  text-decoration: none;
  color: aqua;
}

li a:hover {
  text-decoration: none;
  background-color: blue;
}

li a:active {
  text-decoration: none;
}

.box {
background-color: #444;
color: #fff;
border-radius: 5px;
padding: 10px;
font-size: 150%; 
}

li, nav ul {
  padding: 0;
}

th{
  color: white;
  background-color: black;
}

tr:nth-child(even) {
  background-color: lightgray;
}

table{
  font-size: 1.5em;
  font-family: serif;
  color: navy
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}